# Your Wi-Fi SSID and password
wifi_ssid: "<Your Wi-Fi SSID>"
wifi_password: "<Your Wi-Di PSK>"

# OTA device updates
OTA_password: "<Your OTA password>"

# HomeAssistant API key
hassio_API_key: "<Your Home Assistant API key>"